# Opción con tag mayor (se mantiene en la última v4)
- name: Deploy via FTP
  uses: SamKirkland/FTP-Deploy-Action@v4
  with:
    server: ${{ secrets.FTP_HOST }}
    username: ${{ secrets.FTP_USERNAME }}
    password: ${{ secrets.FTP_PASSWORD }}
    local-dir: dist/
    server-dir: domains/divelife.mx/public_html/
    log-level: verbose
    dangerous-clean-slate: true
    exclude: |
      **/.git*
      **/.github/**
      **/node_modules/**

